/** switch styles **/

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ef606b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Switch styles end */


/** border styles **/

ul li {
    list-style-type: none;
}

ul li div {
    display: flex;
    list-style-type: none;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 2px;
    align-items: center;
}

ul li a {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-size: 14px;
    font-family: monospace, 'Open Sans';
    text-decoration: none;
}


/* Border styles end */


/* menu icon */

.menuIcon {
    margin-left: auto;
    color: black;
}


/* menu container */

.menuCont {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #444;
    position: fixed;
    border-radius: 20px;
    font-size: 12px;
    font-family: monospace, 'Open Sans';
}

.menuCont span {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #9e9e9e;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.menuCont span i {
    color: #ef606b;
    padding-right: 3px;
}

.menuCont span:last-child {
    border-bottom: 0px solid;
}

.menuCont span:last-child:hover {
    border-radius: 0px 0px 16px 16px;
}

.menuCont span:first-child:hover {
    border-radius: 16px 16px 0px 0px;
}

.menuCont span:hover {
    background: #dcdcdc;
}